<div class="card border border-secondary">
  <div class="card-body">
    <h5 class="card-title">My New Blog!</h5>
    <p class="card-text">Welcome! There is no content yet, so enjoy this gif that perfectly describes my life.</p>
    <iframe src="https://giphy.com/embed/xTiTnLWl6ftNuZAe8E" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</div>
