import CodeNames from "./code_names.marko";
class {
  onInput(input) {
    this.state = {
      code_names: input.code_names,
      game_url: '#'
    }
  }
}

<div>
  <${CodeNames} code_names=(state.code_names) />
</div>
