<div class="card border border-secondary">
  <div class="card-body">
    <h5 class="card-title">I'm not a showoff yet.</h5>
    <p class="card-text">Stay tuned for big things!</p>
    <iframe src="https://giphy.com/embed/n94fKa8qgurYY" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
</div>
